<header>
    <h1>OLX</h1>
    <h5>
        <% if(new Date().getHours() < 12) { %>
            Good morning!
        <% } else if(new Date().getHours() < 18) { %>
            Good afternoon!
        <% } else { %>
            Good evening!
        <% } %>
    </h5>
</header>