<div class="modal">
    <div class="modal-content">
        <form id="addForm">
            <button class="close-button">X</button>
            <h2>Add New Advertisement</h2>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" required>
            <label for="description">Description</label>
            <textarea name="description" id="description" required></textarea>
            <input type="file" name="image" id="image" multiple required accept="image/*">
            <label for="image">Upload Image</label>
            <button type="submit" class="add-button">Add Advertisement</button>
        </form>
    </div>
</div>