%template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding: 2rem;
    background-color: $color-french-rose-400;
}

header {
    @extend %template;
    position: sticky;
    top: 0;
    & a {
        color: #FFF;
        text-decoration: none;
    }
}