$color-flamingo: oklch(63.683% 0.20785 25.331);
$color-flamingo-500: oklch(95.875% 0.01738 17.46);
$color-flamingo-600: oklch(87.654% 0.05706 18.298);
$color-flamingo-700: oklch(79.623% 0.10145 19.555);
$color-flamingo-800: oklch(72.304% 0.14758 21.394);
$color-flamingo-900: oklch(66.271% 0.18979 23.868);
$color-flamingo-950: oklch(63.683% 0.20785 25.331);
$color-buttercup: oklch(76.859% 0.16466 70.08);
$color-buttercup-400: oklch(97.043% 0.02485 81.128);
$color-buttercup-500: oklch(92.828% 0.05947 81.025);
$color-buttercup-600: oklch(89.073% 0.09253 80.512);
$color-buttercup-700: oklch(85.216% 0.12144 79.123);
$color-buttercup-800: oklch(81.571% 0.14479 76.788);
$color-buttercup-900: oklch(78.465% 0.16047 72.953);
$color-buttercup-950: oklch(76.859% 0.16466 70.08);
$color-french-rose: oklch(65.592% 0.21177 354.31);
$color-french-rose-50: oklch(74.133% 0.15416 350.47);
$color-french-rose-100: oklch(71.058% 0.17505 351.49);
$color-french-rose-200: oklch(65.592% 0.21177 354.31);
$color-french-rose-300: oklch(60.217% 0.23514 359.26);
$color-french-rose-400: oklch(49.953% 0.19401 358.79);
$color-french-rose-500: oklch(39.384% 0.15052 358.44);
$color-french-rose-600: oklch(27.891% 0.10202 357.28);
$color-french-rose-700: oklch(15.102% 0.04727 350.28);
$color-french-rose-950: oklch(0% 0 none);
$background-color: #fff6f8;
$card-bg: #ffb6c1;
$text-color: #333;
$accent-color: #ff4d6d;
$accent-hover: #e63956;
$shadow: 0 4px 10px rgba(0, 0, 0, 0.1);